extends ../layout

block content

  .loginbox
    .page-header
      h3 Profile Information
    form.form-horizontal.input(id="signup-form", method='POST')
      .row
        .row
          .input-field.col.s12
            label(for="email") Email
            input(id="email", name="email", type="email", class="validate", value='#{user.email}')
        .row
          .input-field.col.s12
            label(for="name") Full name
            input(id="name", name="name", type="text", class="validate", value='#{user.profile.name}')
        .row
          .other-field.col.s12
            label(for="gender") Gender
            p
              input(class="with-gap", name="gender", type="radio", value="Male", checked=user.profile.gender=='male')
              label(for="gender") Male
            p
              input(class="with-gap", name="gender", type="radio", value="Female", checked=user.profile.gender=='female')
              label(for="gender") Female
        .row
          .input-field.col.s12
            label(for="location") Location
            input(id="location", name="location", type="text", class="validate", value='#{user.profile.location}')
        .row
          .other-field.col.s12
            label(for="location") Gravatar
            img(src="#{user.gravatar()}", class='profile', width='100', height='100')
        .row
          .btn-large(type="submit") SIGN UP


  .page-header
    h3 Change Password

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='password') New Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn-primary(type='submit')
          i.fa.fa-lock
          | Change Password

  .page-header
    h3 Delete Account

  form.form-horizontal(action='/account/delete', method='POST')
    .form-group
      p.col-sm-offset-3.col-sm-4 You can delete your account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .col-sm-offset-3.col-sm-4
        button.btn.btn-danger(type='submit')
          i.fa.fa-trash
          | Delete my account

  .page-header
    h3 Linked Accounts
  .form-horizontal
    .form-group
      .col-sm-offset-3.col-sm-4
        if user.instagram
          p: a.text-danger(href='/account/unlink/instagram') Unlink your Instagram account
        else
          p: a(href='/auth/instagram') Link your Instagram account
      .col-sm-offset-3.col-sm-4
        if user.google
          p: a.text-danger(href='/account/unlink/google') Unlink your Google account
        else
          p: a(href='/auth/google') Link your Google account
      .col-sm-offset-3.col-sm-4
        if user.facebook
          p: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
        else
          p: a(href='/auth/facebook') Link your Facebook account
      .col-sm-offset-3.col-sm-4
        if user.twitter
          p: a.text-danger(href='/account/unlink/twitter') Unlink your Twitter account
        else
          p: a(href='/auth/twitter') Link your Twitter account
      .col-sm-offset-3.col-sm-4
        if user.github
          p: a.text-danger(href='/account/unlink/github') Unlink your GitHub account
        else
          p: a(href='/auth/github') Link your GitHub account
      .col-sm-offset-3.col-sm-4
        if user.linkedin
          p: a.text-danger(href='/account/unlink/linkedin') Unlink your LinkedIn account
        else
          p: a(href='/auth/linkedin') Link your LinkedIn account
